extends layout

block content
  .banner.section
    .content
      .logo
        img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1660812858/express-members-only/text-transparent_etxgsg.png", alt="primal logo")
      a.membership-button(href="/membership") GET MEMBERSHIP
  .membership-exclusive.section
    h2 EXCLUSIVE
    .content
      if locals.currentUser && locals.checkMember
        p Use all the perks that come with your membership! Access members talk-board to find gym bros and get EXTREME offers on all our products!
        a(href="/talk-board") TALK-BOARD
      else 
        p Get your membership to join our exclusive members talk-board and have access to EXTREME offers on all our products!
        a(href="/membership") BECOME ONE OF US
      
      //- p #{locals.currentUser.username}
    a.membership-logo-container(href="/membership")
      img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1661158616/express-members-only/logo_lowres_wwdllp.png", alt="primal membership logo")
  .presentation.section
    .content
      h3 You're in good hands
      p Wether you're a beginner or you have several years of experience, you will have a team of trained professionals capable of helping you achieve your muscle, diet and aesthetics goals in the most efficient way possible.
    .img-container
      img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1661161049/express-members-only/personal-trainer_rjjzbz.jpg", alt="personal trainer smiling, holding a writing clip board")
  .shop-banner.section
      .logo
        img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1660812858/express-members-only/text-transparent_etxgsg.png", alt="primal logo")
      p Get your membership and have access to discounts for our line of products that will unleash the beast in you, BE STRONG!
      a.shop-button(href="/shop") PRIMAL SHOP

  //- h1= title
  //- p Welcome to #{title}

