extends layout

block stylesheet
  //- can add a styletag to override stylesheet. The style tag will be added inside the HEAD tag.
  //- style.
  //-   h1 {
  //-     color: blue;
  //-   }
  //- will be useful to remove background image from header on the homepage
  style.
    nav {
      background-image: none;
      box-shadow: none;
    }



block content
  h1= title
  p Welcome to #{title}
  form(action="/logout" method='post')
    button(type='submit') Logout
