extends layout

block stylesheet
  block stylesheet
  link(rel='stylesheet', href='/stylesheets/shop.css')


block content
  .banner
    .overlay
    .danger
    .content
      .buy
        h1 BUY MORE<br>GROW MORE
        .offers
          p Get our gym membership<br>for EXCLUSIVE OFFERS
          a.global-button-white(href='#') Get Membership
      .bundle
        .container
          img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1662543240/express-members-only/products/products-bundle_yew932.png", alt="Primal products bundle")
