mixin link-list
  li #[a(href='#') Home]
  li #[a(href='#') Talk-Board]
  li #[a(href='#') Shop]

mixin cart
  .cart-container
    a(href="#") 
      i.bi.bi-bag
      .number-container
        span.number 0

mixin nav
  .navigation-container
    .account  
      if locals.currentUser
        span Welcome #{locals.currentUser.username}
      else
        span #[a(href="/login") Login], User
    .logo
      a(href="/") 
        img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1660812858/express-members-only/text-transparent_etxgsg.png", alt="primal logo")
    .mobile-menu
      label(class="menu-trigger-label no-select" for="menu-trigger")
        i.bi.bi-list
    input(type="checkbox" id="menu-trigger")
    .mobile-nav
        label(class="menu-trigger-label no-select" for="menu-trigger")
          i.bi.bi-x-lg
        nav.nav-links
          ul 
            li.auth
              if locals.currentUser
                span Welcome #{locals.currentUser.username}
              else
                span #[a(href="/login") Login], User
            +link-list
    +cart
    nav.navigation-links
      ul 
        +link-list
        li 
          +cart

