mixin link-list
  li #[a(href='/') Home]
  li #[a(href='/talk-board') Talk-Board]
  li #[a(href='/membership') Membership]
  li #[a(href='/shop') Shop]

mixin cart
  .cart-container
    a(href="/cart") 
      i.bi.bi-bag

mixin nav
  .navigation-container
    input.display-none(type='checkbox' id='open-logout-dropdown')
    .logout-dropdown-container
      form(action="/logout" method='post')
        button(type='submit') Logout
    .account.no-select
      if locals.currentUser
        label.logout-dropdown-label(for='open-logout-dropdown')
          span Welcome #{locals.currentUser.username}
          i.bi.bi-caret-down-fill
      else
        span #[a(href="/login") Login], User
    .logo
      a(href="/") 
        img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1660812858/express-members-only/text-transparent_etxgsg.png", alt="primal logo")
    .mobile-menu
      label(class="menu-trigger-label no-select cursor-pointer" for="menu-trigger")
        i.bi.bi-list
    input(type="checkbox" id="menu-trigger")
    .mobile-nav
        label(class="menu-trigger-label no-select cursor-pointer" for="menu-trigger")
          i.bi.bi-x-lg
        .auth
          if locals.currentUser
            span Welcome #{locals.currentUser.username}
          else
            span #[a(href="/login") Login], User
        nav.nav-links
          ul 
            +link-list
    +cart
    nav.navigation-links
      ul
        +link-list
        li 
          +cart

