@import 'nav.scss';

.content {
  display: grid;
  justify-content: center;
  padding: 40px 0;

  .cart-page {
    max-width: 100vw;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    .products-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      .product-card {
        max-width: 100vw;
        display: grid;
        grid-template-columns: auto 1fr;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);

        .product-photo-container {
          // width: 150px;
          display: grid;
          align-items: center;
          min-width: 80px;
          max-width: 150px;
          background-color: $background-gray;
          padding: 10px;

          img {
            object-fit: cover;
            width: 100%;
          }
        }
        .product-info-container {
          // display: flex;
          // flex-direction: column;
          display: grid;
          grid-template-rows: max-content 1fr max-content;
          width: 100%;
          padding: 20px;

          .remove-from-cart-container {
            display: grid;
            justify-content: end;
          }
          .product-details {
            display: flex;
            flex-direction: column;
            
            .product-name {
              text-align: start;
              font-size: 1.1em;
              font-weight: 600;
              font-family: 'Montserrat', sans-serif;
            }
            .product-flavor {
              color: $font-gray;
              font-size: 0.9em;
            }
          }
          .bottom-container {
            display: flex;
            justify-content: space-between;

            .quantity-container {
              display: flex;
              align-items: end;
              gap: 10px;

              .quantity-controller {
                background-color: #dddddd;
                color: #7c7c7c;
                border-radius: 100%;
                width: 16px;
                height: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
              }
            }
            .price-container {
              display: grid;
              text-align: end;

              .product-price {
                font-weight: 600;
              }

              .discount-container {
                //hide only on mobile because there is too much text
                // display: flex;
                display: none;
                align-items: center;
                gap: 5px;
                .member-logo-container {
                  width: 20px;
                  min-width: 20px;
                  img {
                    object-fit: contain;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .checkout-container {
      padding: 20px;
      display:grid;
      gap: 30px;
      
      .co-hr {
        background-color: #C5C5C5;
        height: 1px;
        width: 100%;
      }
      .co-section {
        display: grid;
        gap: 5px;


        .co-summary {
          font-weight: 700;
          font-size: 1.2em;
        }
        .co-info {
          font-weight: 600;
          white-space: nowrap;
        }

        .co-subsection {
          display: flex;
          justify-content: space-between;
        }

        .co-button {
          padding: 10px 0;
        }
      }

      @media (min-width: $xl) {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
      }
    }

    @media (min-width: $xl) {
      grid-template-columns: 2fr 1fr;

      .discount-container {
        display: flex!important;
      }
    }
  }
}
