@import 'variables.scss';

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
// font-family: 'Fugaz One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Montserrat', sans-serif;

html * {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-width: 100vw;
}


// font sizes
h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Fugaz One', cursive;
}
h2 {
  font-size: 2.5em;
  font-family: 'Fugaz One', cursive;
}
h3 {
  font-size: 2em;
  font-family: 'Fugaz One', cursive;
} 
p {
  line-height: normal;
}

// remove blue highlight when clicking elements from phone
// make all images unselectable
.no-select, img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-scrolling {
  overflow: hidden;
  height: 100vh;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.global-input {
  padding: 5px 10px;
  border: none;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.25));
}
.global-input:focus {
  outline: 0 !important;
  border-color: red;
}

.global-button {
  text-decoration: none;
  background-color: $black;
  color: $white;
  font-size: 1em;
  padding: 5px 30px;
  text-align: center;
  border: none;
  width: 100%;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.global-button-white {
  text-decoration: none;
  background-color: $transparent;
  color: $white;
  font-size: 1em;
  padding: 5px 30px;
  text-align: center;
  border: none;
  width: 100%;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border: 1px solid $white;
}
