// colors
$white: #fff;
$black : rgb(0, 0, 0);
$red: #F24B4B;
$gray: #ABABAB;
$transparent: rgba(255, 255, 255, 0);

$background-gray: #F5F5F7;

$font-gray: #9e9e9e;

// media queries
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


